# Supabase Configuration
VITE_SUPABASE_PROJECT_ID="thvtxferjbtehjhrgxnv"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_PirI9xRHtRH5yMFHMTa0MA_LQ_xTXvG"
VITE_SUPABASE_URL="https://thvtxferjbtehjhrgxnv.supabase.co"

# SSR / Node environment keys
SUPABASE_URL="https://thvtxferjbtehjhrgxnv.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_PirI9xRHtRH5yMFHMTa0MA_LQ_xTXvG"